# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/

# Logs
logs/
*.log

# Local/raw datasets
data/
dataset/

# Environment variables / secrets
.env

# VS Code settings
.vscode/